@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

    @*<header>*@
        <br />
        <br />
        <br />
        <h1>@ViewData["Title"]</h1>
        <p>You have successfully logged out of the application.</p>

        <a class="btn btn-outline-dark"  asp-area="Identity" asp-page="/Account/Login">Login</a>
    @*</header>*@